<a href="https://colab.research.google.com/github/gosantam/Tablas/blob/main/Conversores/coord2table_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transforma imágenes de tablas a código latex

# $jpg \rightarrow xlsx \rightarrow latex$

- **Principal problema:** hay que utilizar un programa externo a python para realizar la conversión.

## Librerías necesarias

In [ ]:
%%capture
pip install --user https://github.com/pyexcel/pyexcel-xlsx/archive/master.zip

In [ ]:
from pyexcel_xlsx import get_data
import numpy as np
import pandas as pd
import datetime

## Paso 1
Se puede transformar la **tabla.jgp** (o cualquier formato de imagen) a el excel **tabla.xlsx** en el siguiente enlace:

- https://online2pdf.com/en/convert-jpg-to-excel

De hecho, puedes añadir varias imágenes a la vez y nos devolverá un xlsx con todas las tablas.



```
# Copiamos la ruta del archivo xlsx creado. En google colab sería el propio: tabla.xlsx
```

## Paso 2
Utilizando la libreria **pyexcel_xlsx**, en concreto el método **get_data**, extraemos todas las tablas del archivo xlsx

## Con varias tablas

In [ ]:
rows = get_data('/content/us-004-2-1 (2 files merged).xlsx')
rows = dict(rows)
print(rows)

{'Table 1': [['Loan type', 'Loan type', datetime.datetime(2009, 12, 31, 0, 0), datetime.datetime(2009, 12, 31, 0, 0), datetime.datetime(2009, 12, 31, 0, 0), '', datetime.datetime(2010, 12, 31, 0, 0), datetime.datetime(2010, 12, 31, 0, 0), datetime.datetime(2010, 12, 31, 0, 0), '', datetime.datetime(2011, 6, 30, 0, 0), datetime.datetime(2011, 6, 30, 0, 0)], ['Loan type', 'Loan type', "$000's", "$000's", 'O/o', "$000's", "$000's", "$000's", 'O/o', "$000's", "$000's", 'O/o'], ['Realestate loans', 'Realestate loans'], ['1-4 family residential mortgage', '1-4 family residential mortgage', '4,151,000', '4,151,000', 250, '4,090,000', '4,090,000', '4,090,000', 275, 'II\'"', '3,925,000', 249], ['Commercial Mortgage', 'Commercial Mortgage', 361, 361, 22, 331, 331, 331, 22, 284, 284, 18], ['Multifamily residential (5 or more)', 'Multifamily residential (5 or more)', 380, 380, 23, 327, 327, 327, 22, 327, 327, 21], ['Construction Loans', 'Construction Loans', 173, 173, 10, 148, 148, 148, 10, 170, 170, 11], ['Commercial & Industrial', 'Commercial & Industrial', 555, 555, 33, 497, 497, 497, 33, 438, 438, 28], ['Consumer Loans', 'Consumer Loans', 63, 63, 4, 69, 69, 69, 5, 66, 66, 4], ['Lease financing receivables', 'Lease financing receivables', '3,508,000', '3,508,000', 211, '3,147,000', '3,147,000', '3,147,000', 212, '2,780,000', '2,780,000', 177], ['Other loans', 'Other loans'], ['Loans to purchase securities', 'Loans to purchase securities', '1,844,000', '1,844,000', 111, '1,148,000', '1,148,000', '1,148,000', 77, '2,754,000', '2,754,000', 175], ['Loans to nondepository Fin.Inst.', 'Loans to nondepository Fin.Inst.', ',..', '4,958,000', 299, ',..', '4,512,000', '4,512,000', 303, '4,207,000', '4,207,000', 267], ['All other Loans', 'All other Loans', 611, 611, 37, 602, 602, 602, 40, 'II\'"', 799, 51], ['!Total Gross Loans', '!Total Gross Loans', ',_', '16,604,000', 1000, "'", '14,871,000', '14,871,000', 1000, '15,750,000', '15,750,000', 1000], [], [], [], ['Species', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)'], ['Species', 'GLWQI', 'GLWQI', 'GLWQI', 'GLWQI', 'GLWQI', 'GLWQI', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress'], ['Mink', 2880, 2880, 2880, 2880, 2880, 2880, 1038, 1038, 1038, 1038, 1038], ['Otter', 1930, '', '', '', '', '', 764], ['Kingfisher', 1040, '', '', '', '', '', 598], ['Osprey', 'Not done', '', '', '', '', '', 1498], ['Eagle', 1920, '', '', '', '', '', 1818]]}

In [ ]:
rows.keys() #  En el excel hay dos tablas, pero no sabe separarlas en dos.
# También podemos indicarle que nos devuelva dos xlsx por seprado. Lo cual puede ser más útil.

dict_keys(['Table 1'])

### Tabla 1

In [ ]:
print(rows['Table 1'])

[['Loan type', 'Loan type', datetime.datetime(2009, 12, 31, 0, 0), datetime.datetime(2009, 12, 31, 0, 0), datetime.datetime(2009, 12, 31, 0, 0), '', datetime.datetime(2010, 12, 31, 0, 0), datetime.datetime(2010, 12, 31, 0, 0), datetime.datetime(2010, 12, 31, 0, 0), '', datetime.datetime(2011, 6, 30, 0, 0), datetime.datetime(2011, 6, 30, 0, 0)], ['Loan type', 'Loan type', "$000's", "$000's", 'O/o', "$000's", "$000's", "$000's", 'O/o', "$000's", "$000's", 'O/o'], ['Realestate loans', 'Realestate loans'], ['1-4 family residential mortgage', '1-4 family residential mortgage', '4,151,000', '4,151,000', 250, '4,090,000', '4,090,000', '4,090,000', 275, 'II\'"', '3,925,000', 249], ['Commercial Mortgage', 'Commercial Mortgage', 361, 361, 22, 331, 331, 331, 22, 284, 284, 18], ['Multifamily residential (5 or more)', 'Multifamily residential (5 or more)', 380, 380, 23, 327, 327, 327, 22, 327, 327, 21], ['Construction Loans', 'Construction Loans', 173, 173, 10, 148, 148, 148, 10, 170, 170, 11], ['Commercial & Industrial', 'Commercial & Industrial', 555, 555, 33, 497, 497, 497, 33, 438, 438, 28], ['Consumer Loans', 'Consumer Loans', 63, 63, 4, 69, 69, 69, 5, 66, 66, 4], ['Lease financing receivables', 'Lease financing receivables', '3,508,000', '3,508,000', 211, '3,147,000', '3,147,000', '3,147,000', 212, '2,780,000', '2,780,000', 177], ['Other loans', 'Other loans'], ['Loans to purchase securities', 'Loans to purchase securities', '1,844,000', '1,844,000', 111, '1,148,000', '1,148,000', '1,148,000', 77, '2,754,000', '2,754,000', 175], ['Loans to nondepository Fin.Inst.', 'Loans to nondepository Fin.Inst.', ',..', '4,958,000', 299, ',..', '4,512,000', '4,512,000', 303, '4,207,000', '4,207,000', 267], ['All other Loans', 'All other Loans', 611, 611, 37, 602, 602, 602, 40, 'II\'"', 799, 51], ['!Total Gross Loans', '!Total Gross Loans', ',_', '16,604,000', 1000, "'", '14,871,000', '14,871,000', 1000, '15,750,000', '15,750,000', 1000], [], [], [], ['Species', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)'], ['Species', 'GLWQI', 'GLWQI', 'GLWQI', 'GLWQI', 'GLWQI', 'GLWQI', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress', 'Mercury Study Report to Congress'], ['Mink', 2880, 2880, 2880, 2880, 2880, 2880, 1038, 1038, 1038, 1038, 1038], ['Otter', 1930, '', '', '', '', '', 764], ['Kingfisher', 1040, '', '', '', '', '', 598], ['Osprey', 'Not done', '', '', '', '', '', 1498], ['Eagle', 1920, '', '', '', '', '', 1818]]

### Tabla 2

In [ ]:
# print(rows['Table 2']) // Da error

## Con una tabla

In [ ]:
rows = get_data('/content/us-040-2-1.xlsx')
rows = dict(rows)
print(rows)

{'Table 1': [['Species', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)'], ['Species', 'GLWQI', 'GLWQI', 'Mercury Study Report to Congress'], ['Mink', 2880, 2880, 1038], ['Otter', 1930, 1930, 764], ['Kingfisher', 1040, 1040, 598], ['Osprey', 'Not done', 'Not done', 1498], ['Eagle', 1920, 1920, 1818]]}

In [ ]:
print(rows['Table 1'])

[['Species', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)', 'Wildlife Criterion (pg/L)'], ['Species', 'GLWQI', 'GLWQI', 'Mercury Study Report to Congress'], ['Mink', 2880, 2880, 1038], ['Otter', 1930, 1930, 764], ['Kingfisher', 1040, 1040, 598], ['Osprey', 'Not done', 'Not done', 1498], ['Eagle', 1920, 1920, 1818]]

## Paso 3
Realizamos la conversión a latex. Para ello hay que pocesar las filas y columnas de la matriz que nos devuelve el método **get_data**

### Implementación de funciones

In [ ]:
def borrarColumnas(rows):
  c = rows[:,1:]==rows[:,:-1]
  c = np.array([[False]+list(f) for f in c])
  a = np.array([True for i in range(0,rows.shape[1])])
  for f in c:
    a = a*f
  rows = rows.transpose()
  rows_a = []
  for i in range(0,len(rows)):
    if a[i] == False:
      rows_a.append(list(rows[i]))
  return np.array(rows_a).transpose()

In [ ]:
def borrarFilas(rows):
  c = rows[1:,:]==rows[:-1,:]
  c = np.array([[False for i in range(0,rows.shape[1])]]+[list(f) for f in c])
  a = np.array([True for i in range(0,rows.shape[0])])
  for f in c.transpose():
    a = a*f
  rows_a = []
  for i in range(0,len(rows)):
    if a[i] == False:
      rows_a.append(list(rows[i]))
  return np.array(rows_a)

In [ ]:
def xlsx2matriz(path):
  rows = get_data(path)
  rows = dict(rows)
  rows = rows['Table 1']
  M = max(len(f) for f in rows)
  for i in range(0,len(rows)):
    if len(rows[i])<M: rows[i]=rows[i]+[' ' for j in range(0,M-len(rows[i]))]
  rows = np.array(rows)
  rows = borrarFilas(rows)
  rows = borrarColumnas(rows)
  for i in range(0,len(rows)):
    for j in range(0,len(rows[i])):
      if type(rows[i][j]) == datetime.datetime: rows[i][j] = rows[i][j].strftime("%D")
      if type(rows[i][j]) == int: rows[i][j] = str(rows[i][j])
      rows[i][j] = rows[i][j].replace('$','\$').replace('&','and').replace('%','\%')
  return [list(f) for f in rows]

In [ ]:
def matriz2latex(rows):
  c = ''
  print('\\begin{table}')
  c = c+'\\begin{table} \n'
  print('\\begin{center}')
  c = c+'\\begin{center} \n'
  print('\\begin{tabular}{|'+'|'.join(['c' for i in range(0,max([len(f) for f in rows]))])+'|}')
  c = c+'\\begin{tabular}{|'+'|'.join(['c' for i in range(0,max([len(f) for f in rows]))])+'|} \n'

  anterior = rows[0][0]
  k1,k2 = 0,0
  for i in range(0,len(rows)-1):
    cell = rows[i+1][0]
    if cell == anterior:
      k2+=1
    else:
      if k2>k1:
        rows[k1][0] = '\multirow{'+str(k2-k1+1)+'}{*}{'+anterior+'}'
        for j in range(k1+1,k2+1): rows[j][0]=''
      k2+=1
      k1=k2
      anterior = cell
  if k2>k1:
    rows[k1][0] = '\multirow{'+str(k2-k1+1)+'}{*}{'+anterior+'}'
    for j in range(k1+1,k2+1): rows[j][0]=''
  
  for i in range(0,len(rows)):
    # Tratando las multi-columnas
    anterior = rows[i][0]
    k1,k2,j=0,0,0
    for cell in rows[i][1:]:
      if anterior == cell:
        k2+=1
      else:
        if k2 > k1:
          rows[i][rows[i].index(anterior)] = '\multicolumn{'+str(k2-k1+1)+'}{|c|}{'+anterior+'}'
          for r in range(0,k2-k1):
            rows[i].remove(anterior)
        anterior = cell
        k1,k2=0,0
    if k2 > k1:
      elementos[anterior] = (k1,k2)
      rows[i][rows[i].index(anterior)] = '\multicolumn{'+str(k2-k1+1)+'}{|c|}{'+anterior+'}'
      for r in range(0,k2-k1):
        rows[i].remove(anterior)
    if rows[i][0] == '':
      print('\\cline{2-'+str(max([len(f) for f in rows]))+'}')
      c = c+'\\cline{2-'+str(max([len(f) for f in rows]))+'} \n'
    else:
      print('\\hline')
      c = c+'\\hline \n'
    print(' & '.join(rows[i])+' \\\\')
    c = c+' & '.join(rows[i])+' \\\\ \n'  
  print('\\hline')
  c = c+'\\hline \n'
  print('\\end{tabular}')
  c=c+'\\end{tabular} \n'
  print('\\end{center}')
  c=c+'\\end{center} \n'
  print('\\end{table}')
  c=c+'\\end{table} \n'
  return c

In [ ]:
def xlsx2latex(path):
  rows = xlsx2matriz(path)
  c = matriz2latex(rows)
  a = path[:path.find('.xlsx')]+'.txt'
  with open(a,'w') as f:
    f.write(c)
    f.close()
  return c

### Pruebas

- Función que transforma el excel en una matriz (Paso previo)

In [ ]:
rows = xlsx2matriz('us-040-2-1.xlsx')
print(np.array(rows))

[['Species' 'Wildlife Criterion (pg/L)' 'Wildlife Criterion (pg/L)']
 ['Species' 'GLWQI' 'Mercury Study Report to Congress']
 ['Mink' '2880' '1038']
 ['Otter' '1930' '764']
 ['Kingfisher' '1040' '598']
 ['Osprey' 'Not done' '1498']
 ['Eagle' '1920' '1818']]

- Función que transforma la matriz a código latex

In [ ]:
c = matriz2latex(rows)

\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|}
\hline
\multirow{2}{*}{Species} & \multicolumn{2}{|c|}{Wildlife Criterion (pg/L)} \\
\cline{2-3}
 & GLWQI & Mercury Study Report to Congress \\
\hline
Mink & 2880 & 1038 \\
\hline
Otter & 1930 & 764 \\
\hline
Kingfisher & 1040 & 598 \\
\hline
Osprey & Not done & 1498 \\
\hline
Eagle & 1920 & 1818 \\
\hline
\end{tabular}
\end{center}
\end{table}

- **Función que transforma el excel en código latex** (combinación de las dos anteriores). Almacena el código latex de **tabla.xlsx** en el fichero **tabla.txt**

In [ ]:
c = xlsx2latex('us-040-2-1.xlsx')

\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|}
\hline
\multirow{2}{*}{Species} & \multicolumn{2}{|c|}{Wildlife Criterion (pg/L)} \\
\cline{2-3}
 & GLWQI & Mercury Study Report to Congress \\
\hline
Mink & 2880 & 1038 \\
\hline
Otter & 1930 & 764 \\
\hline
Kingfisher & 1040 & 598 \\
\hline
Osprey & Not done & 1498 \\
\hline
Eagle & 1920 & 1818 \\
\hline
\end{tabular}
\end{center}
\end{table}

## Calculando algunas predicciones del dataset de tablas

In [ ]:
%%capture
!unzip celldataset.zip

In [ ]:
%%capture
!unzip Files_Online2PDF.zip # Predicciones de la página web

Archive:  Files_Online2PDF.zip
Created by Online2PDF.com
  inflating: eu-001-1-2.xlsx
  inflating: eu-003-1-2.xlsx
  inflating: eu-003-1-3.xlsx
  inflating: eu-004-11-10.xlsx
  inflating: eu-016-3-1.xlsx
  inflating: eu-027-3-1.xlsx
  inflating: us-002-3-2.xlsx
  inflating: us-011a-3-2.xlsx
  inflating: us-018-3-3.xlsx
  inflating: us-024-2-1.xlsx
  inflating: us-029-2-1.xlsx

In [ ]:
c= xlsx2latex('eu-001-1-2.xlsx')    
print('\n \n')
c= xlsx2latex('eu-003-1-2.xlsx')   
print('\n \n') 
c= xlsx2latex('eu-003-1-3.xlsx')  
print('\n \n')
c= xlsx2latex('eu-004-11-10.xlsx')  
print('\n \n')
c= xlsx2latex('eu-016-3-1.xlsx')    
print('\n \n')
c= xlsx2latex('eu-027-3-1.xlsx')    
print('\n \n')
c= xlsx2latex('us-002-3-2.xlsx')   
print('\n \n')
c= xlsx2latex('us-011a-3-2.xlsx') 
print('\n \n')
c= xlsx2latex('us-018-3-3.xlsx')
print('\n \n')
c= xlsx2latex('us-024-2-1.xlsx') 
print('\n \n')
c= xlsx2latex('us-029-2-1.xlsx')

\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|}
\hline
\multirow{2}{*}{} & \multicolumn{3}{|c|}{THRESHOLD FOR RELEASES} \\
\cline{2-4}
 & to air ka/year & to water ka/year & to land ka/year \\
\hline
Ammonia (NH3) & 10 000 & \multicolumn{2}{|c|}{-} \\
\hline
Carbon monoxide (CO) & 500 000 & \multicolumn{2}{|c|}{-} \\
\hline
Chlorine and inorganic compounds (as HCI) & 10 000 & \multicolumn{2}{|c|}{-} \\
\hline
Chlorofluorocarbons (CFCs) & 1 & \multicolumn{2}{|c|}{-} \\
\hline
Flourine and inorganic compounds (as HF) & 5 000 & \multicolumn{2}{|c|}{-} \\
\hline
HaIons & 1 & \multicolumn{2}{|c|}{-} \\
\hline
Hydrochlorofluorocarbons (HCFCs) & 1 & \multicolumn{2}{|c|}{-} \\
\hline
Hydrogen Cyanide (HCN) & 200 & \multicolumn{2}{|c|}{-} \\
\hline
Nitrogen oxides (NOx/ N02) & 100 000 & \multicolumn{2}{|c|}{-} \\
\hline
Non-methane volatile organic compounds (NMVOC) & 100 000 & \multicolumn{2}{|c|}{-} \\
\hline
Sulphur oxides (S0x/ S02) & 150 000 & \multicolumn{2}{|c|}{-} \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|c|c|}
\cline{2-8}
 & Number financial
comp   . s anie & of & Pct       o.f companies
analysed & all & Number          of financial
comp   . s    on anie
ITSE      Eurotop 100 & Pct    of Eurotop .
companies & ITSE 100 \\
\hline
0 reclassifications & \multicolumn{2}{|c|}{52} & \multicolumn{2}{|c|}{52%} & 14 & \multicolumn{2}{|c|}{64%} \\
\hline
1 reclassification & \multicolumn{2}{|c|}{28} & \multicolumn{2}{|c|}{28%} & 4 & \multicolumn{2}{|c|}{18%} \\
\hline
2 reclassifications & \multicolumn{2}{|c|}{11} & \multicolumn{2}{|c|}{11%} & 2 & \multicolumn{2}{|c|}{9%} \\
\hline
3 reclassifications & \multicolumn{2}{|c|}{8} & \multicolumn{2}{|c|}{8%} & 2 & \multicolumn{2}{|c|}{9%} \\
\hline
4 reclassifications & \multicolumn{2}{|c|}{1} & \multicolumn{2}{|c|}{1%} & 0 & \multicolumn{2}{|c|}{0%} \\
\hline
Total & \multicolumn{2}{|c|}{100} & \multicolumn{2}{|c|}{} & 22 & \multicolumn{2}{|c|}{ } \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|}
\cline{2-6}
 & Reclassification
from Fair value through profit and loss to loans and receivables & Reclassification
from Available for Sale to loans and receivables & Reclassification
from Fair value through profit and loss to Available for sale & Reclassification
from Fair value through profit and loss to Held             to
Maturity & Total \\
\hline
Number        of
financial comp   . s
anie
who applied the option for this cate ory & 27 & 16 & 23 & 15 & 81 \\
\hline
Percentage  of
all fin.ancial companies
analysed who applied the option for this cate ory & 33% & 20% & 28% & 19% & 100% \\
\hline
Number        of
financial. companies
where        the disclosure requirements were   stricter & 8 & 3 & 6 & 2 & 19 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|c|c|c|}
\cline{2-9}
 & 1997 &  & 1995* & 1992* &  & 1990** & 1980** & By leadin2 retailers (1993/4) \\
\hline
UK & 423 &  & 29 & 25 &  & 31 & 22 & Sainsbury 55; Tesco 46; Safeway
38; Asda 32. \\
\hline
Belgium/Lux & 249 &  & 22 & 16 & \multicolumn{4}{|c|}{ } \\
\hline
Netherlands & 191 &  & \multicolumn{2}{|c|}{16} & \multicolumn{4}{|c|}{ } \\
\hline
France & 182 &  & \multicolumn{2}{|c|}{16} &  & 20 & 11 & Monoprix 28; Casino 25;
Intermarche 23; Carrefour 22;
Auchan 19; Leclerc 10 \\
\hline
Denmark & \multicolumn{2}{|c|}{} & 13 & \multicolumn{5}{|c|}{ } \\
\hline
Germany & 126 &  & 11 & 6 &  & 24 & 15 & Aldi 90; Metro 33; Tengelmann 18. \\
\hline
Spain & \multicolumn{2}{|c|}{} & 10 & 8 &  & 9 & 2 & Broski 24; Pryca 20; Alcampo 15 \\
\hline
Portugal & \multicolumn{2}{|c|}{} & 9 & \multicolumn{5}{|c|}{ } \\
\hline
Austria & \multicolumn{2}{|c|}{} & 9 & \multicolumn{5}{|c|}{ } \\
\hline
Finland & \multicolumn{2}{|c|}{} & \multicolumn{2}{|c|}{8} & \multicolumn{4}{|c|}{ } \\
\hline
Sweden & \multicolumn{2}{|c|}{} & \multicolumn{2}{|c|}{8} & \multicolumn{4}{|c|}{ } \\
\hline
Italy & \multicolumn{2}{|c|}{} & 6 & 4 & \multicolumn{4}{|c|}{ } \\
\hline
Greece & \multicolumn{2}{|c|}{} & 3 & \multicolumn{5}{|c|}{ } \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|}
\hline
Country & Domestic (%) & Imported (%) & Unknown (%) & Total (n) \\
\hline
Austria & 862 & 138 & 0 & 3.375 \\
\hline
Belgium & \multicolumn{2}{|c|}{0} & 1000 & 3.973 \\
\hline
Bulgaria & \multicolumn{2}{|c|}{0} & 1000 & 1.136 \\
\hline
Cyprus & 810 & 38 & 152 & 158 \\
\hline
Czech Republic & 986 & 14 & 0 & 17.655 \\
\hline
Denmark & 31 & 102 & 867 & 1.662 \\
\hline
Estonia & 942 & 58 & 0 & 430 \\
\hline
Finland & 136 & 830 & 34 & 2.737 \\
\hline
France & \multicolumn{2}{|c|}{0} & 1000 & 5.51 \\
\hline
Germany & 905 & 44 & 51 & 55.4 \\
\hline
Hungary & 998 & 2 & 0 & 6.575 \\
\hline
Ireland & 339 & 316 & 345 & 440 \\
\hline
Italy & \multicolumn{2}{|c|}{0} & 1000 & 4.499 \\
\hline
Latvia & 981 & 19 & 0 & 619 \\
\hline
Lithuania & 990 & 10 & 0 & 2.27 \\
\hline
Luxembourg & 939 & 61 & 0 & 163 \\
\hline
Malta & 965 & 35 & 0 & 85 \\
\hline
Netherlands & 871 & 129 & 0 & 1.245 \\
\hline
Poland & \multicolumn{2}{|c|}{0} & 1000 & 11.155 \\
\hline
Portugal & 0 & 10 & 990 & 482 \\
\hline
Romania & \multicolumn{2}{|c|}{0} & 1000 & 620 \\
\hline
Slovakia & 994 & 6 & 0 & 8.367 \\
\hline
Slovenia & \multicolumn{2}{|c|}{0} & 1000 & 1.346 \\
\hline
Spain & 1000 & \multicolumn{2}{|c|}{0} & 3.658 \\
\hline
Sweden & 239 & 737 & 24 & 3.93 \\
\hline
United Kingdom & 240 & 214 & 546 & 13.802 \\
\hline
EUTotal & 651 & 79 & 270 & 151.292 \\
\hline
Iceland & 194 & 667 & 140 & 93 \\
\hline
Liechtenstein & \multicolumn{2}{|c|}{0} & 1000 & 1 \\
\hline
Norway & 237 & 722 & 41 & 1.649 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|c|}
\hline
Variable & \multicolumn{2}{|c|}{} & Mean & Std. Dev. & Min & Max \\
\hline
Age & \multicolumn{2}{|c|}{} & 508 & 159 & 21 & 90 \\
\hline
Men & \multicolumn{2}{|c|}{} & 47 & 50 & 0 & 1 \\
\hline
East & \multicolumn{2}{|c|}{} & 28 & 45 & 0 & 1 \\
\hline
Rural & \multicolumn{2}{|c|}{} & 15 & 36 & 0 & 1 \\
\hline
Married & \multicolumn{2}{|c|}{} & 57 & 50 & 0 & 1 \\
\hline
Single & \multicolumn{2}{|c|}{} & 21 & 40 & 0 & 1 \\
\hline
Divorced & \multicolumn{2}{|c|}{} & 13 & 33 & 0 & 1 \\
\hline
Widowed & \multicolumn{2}{|c|}{} & 8 & 26 & 0 & 1 \\
\hline
Separated & \multicolumn{2}{|c|}{} & 3 & 16 & 0 & 1 \\
\hline
Partner & \multicolumn{2}{|c|}{} & 65 & 48 & 0 & 1 \\
\hline
Employed & \multicolumn{2}{|c|}{} & 55 & 50 & 0 & 1 \\
\hline
Fulltime & \multicolumn{2}{|c|}{} & 34 & 47 & 0 & 1 \\
\hline
Parttime & \multicolumn{2}{|c|}{} & 20 & 40 & 0 & 1 \\
\hline
Unemployed & \multicolumn{2}{|c|}{} & 8 & 28 & 0 & 1 \\
\hline
Homemaker & \multicolumn{2}{|c|}{} & 19 & 40 & 0 & 1 \\
\hline
Retired & \multicolumn{2}{|c|}{} & 28 & 45 & 0 & 1 \\
\hline
Household size & \multicolumn{2}{|c|}{} & 243 & 122 & 1 & 9 \\
\hline
Households with & children &  & 37 & 48 & 0 & 1 \\
\hline
\multicolumn{2}{|c|}{Number of children} &  & 167 & 138 & 0 & 8 \\
\hline
\multicolumn{2}{|c|}{Lower secondary education} &  & 8 & 27 & 0 & 1 \\
\hline
\multicolumn{2}{|c|}{Upper secondary education} &  & 60 & 49 & 0 & 1 \\
\hline
\multicolumn{2}{|c|}{Post secondary, non tert. education} &  & 12 & 33 & 0 & 1 \\
\hline
\multicolumn{2}{|c|}{First stage tertiary education} &  & 17 & 38 & 0 & 1 \\
\hline
\multicolumn{2}{|c|}{Other education} &  & 3 & 17 & 0 & 1 \\
\hline
\multicolumn{2}{|c|}{Household income  (Euro/mont h)} &  & 2.127 & 1.389 & 22 & 22.5 \\
\hline
\multicolumn{2}{|c|}{Gross wealth - end of 2007 (Euro)} &  & 187.281 & 384.198 & 0 & 7,720,000 \\
\hline
\multicolumn{2}{|c|}{Gross financial wealth - end of 2007} & (Euro) & 38.855 & 114.128 & 0 & 2,870,000 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|}
\hline
Average amount borrowed & \multicolumn{24}{|c|}{ } \\
\hline
              Percent who borrowed                        (b borrowers)              Under-                                   Under- & \multicolumn{24}{|c|}{ } \\
\hline
graduate Graduate                       graduate Graduate & \multicolumn{24}{|c|}{ } \\
\hline
 Student and institutional characteristics           Neither         only         only         Both             only         only         Both & \multicolumn{24}{|c|}{ } \\
\hline
Total                                                              31.4        23.7         17.7        27.2        \$9,600  \$36,900  \$41,70 & \multicolumn{24}{|c|}{ } \\
\hline
Type of degree-granting institution & \multicolumn{24}{|c|}{ } \\
\hline
\multicolumn{5}{|c|}{Public 4-year} & \multicolumn{4}{|c|}{326} & \multicolumn{3}{|c|}{230} & \multicolumn{2}{|c|}{195} & \multicolumn{3}{|c|}{249} & \multicolumn{3}{|c|}{8.1} & \multicolumn{2}{|c|}{36.5} & \multicolumn{3}{|c|}{36.9} \\
\hline
\multicolumn{5}{|c|}{Non-doctorate-granting} & \multicolumn{4}{|c|}{344} & \multicolumn{3}{|c|}{256} & \multicolumn{2}{|c|}{159} & \multicolumn{3}{|c|}{241} & \multicolumn{3}{|c|}{7.8} & \multicolumn{2}{|c|}{29.1} & \multicolumn{3}{|c|}{31.9} \\
\hline
\multicolumn{5}{|c|}{Doctorate-granting} & \multicolumn{4}{|c|}{317} & \multicolumn{3}{|c|}{217} & \multicolumn{2}{|c|}{213} & \multicolumn{3}{|c|}{252} & \multicolumn{3}{|c|}{8.2} & \multicolumn{5}{|c|}{39.3} \\
\hline
\multicolumn{5}{|c|}{Private not-for-profit 4-year} & \multicolumn{4}{|c|}{297} & \multicolumn{3}{|c|}{242} & \multicolumn{2}{|c|}{153} & \multicolumn{3}{|c|}{308} & \multicolumn{3}{|c|}{12.5} & \multicolumn{2}{|c|}{37.5} & \multicolumn{3}{|c|}{48.9} \\
\hline
\multicolumn{5}{|c|}{Non-doctorate-granting} & \multicolumn{4}{|c|}{275} & \multicolumn{3}{|c|}{261} & \multicolumn{2}{|c|}{145} & \multicolumn{3}{|c|}{320} & \multicolumn{3}{|c|}{12} & \multicolumn{2}{|c|}{31.5} & \multicolumn{3}{|c|}{43.2} \\
\hline
\multicolumn{5}{|c|}{Doctorate-granting} & \multicolumn{4}{|c|}{321} & \multicolumn{3}{|c|}{223} & \multicolumn{2}{|c|}{161} & \multicolumn{3}{|c|}{295} & \multicolumn{3}{|c|}{13} & \multicolumn{2}{|c|}{43.2} & \multicolumn{3}{|c|}{55.5} \\
\hline
\multicolumn{20}{|c|}{Other                                                                     26.9         31.8           7.1        34.2                  +} & \multicolumn{5}{|c|}{+  39,600} \\
\hline
Undergraduate major & \multicolumn{24}{|c|}{ } \\
\hline
\multicolumn{6}{|c|}{Business and management} & \multicolumn{2}{|c|}{396} & \multicolumn{3}{|c|}{264} & \multicolumn{3}{|c|}{130} & \multicolumn{3}{|c|}{211} & \multicolumn{2}{|c|}{8.9} & \multicolumn{3}{|c|}{33} & \multicolumn{2}{|c|}{38.8} &   \\
\hline
\multicolumn{6}{|c|}{Education} & \multicolumn{2}{|c|}{346} & \multicolumn{3}{|c|}{310} & \multicolumn{3}{|c|}{128} & \multicolumn{3}{|c|}{217} & \multicolumn{2}{|c|}{10.1} & \multicolumn{3}{|c|}{28.6} & \multicolumn{2}{|c|}{30.8} &   \\
\hline
\multicolumn{6}{|c|}{Engineering, mathematics, or science} & \multicolumn{2}{|c|}{294} & \multicolumn{3}{|c|}{233} & \multicolumn{3}{|c|}{191} & \multicolumn{3}{|c|}{282} & \multicolumn{2}{|c|}{10} & \multicolumn{3}{|c|}{47.2} & \multicolumn{2}{|c|}{57.4} &   \\
\hline
\multicolumn{6}{|c|}{Humanities or social sciences} & \multicolumn{2}{|c|}{286} & \multicolumn{3}{|c|}{184} & \multicolumn{3}{|c|}{218} & \multicolumn{3}{|c|}{311} & \multicolumn{2}{|c|}{9.6} & \multicolumn{3}{|c|}{38.2} & \multicolumn{2}{|c|}{40} &   \\
\hline
\multicolumn{6}{|c|}{Other} & \multicolumn{2}{|c|}{293} & \multicolumn{3}{|c|}{234} & \multicolumn{3}{|c|}{178} & \multicolumn{3}{|c|}{295} & \multicolumn{2}{|c|}{9.5} & \multicolumn{3}{|c|}{31} & \multicolumn{2}{|c|}{37.4} &   \\
\hline
(undergraduate) & \multicolumn{3}{|c|}{640} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{360} & \multicolumn{5}{|c|}{t} & \multicolumn{3}{|c|}{36.9} & \multicolumn{3}{|c|}{t} & \multicolumn{4}{|c|}{ } \\
\hline
\multirow{4}{*}{} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{544} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{457} & \multicolumn{2}{|c|}{2.7} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{32.7} & \multicolumn{4}{|c|}{ } \\
\cline{2-25}
 & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{437} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{563} & \multicolumn{2}{|c|}{6.9} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{36.2} & \multicolumn{4}{|c|}{ } \\
\cline{2-25}
 & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{453} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{547} & \multicolumn{2}{|c|}{11.3} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{40.2} & \multicolumn{4}{|c|}{ } \\
\cline{2-25}
 & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{416} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{584} & \multicolumn{2}{|c|}{22.4} & \multicolumn{3}{|c|}{t} & \multicolumn{3}{|c|}{57.7} & \multicolumn{4}{|c|}{ } \\
\hline
Amount borrowed & \multicolumn{24}{|c|}{ } \\
\hline
Did not borrow Less than \$5,000 & \multicolumn{24}{|c|}{ } \\
\hline
\$5,000-9,999 & \multicolumn{24}{|c|}{ } \\
\hline
\$10,000-14,999 & \multicolumn{24}{|c|}{ } \\
\hline
\$15,000 or more & \multicolumn{24}{|c|}{ } \\
\hline
Highest enrollment after bachelor's degree by 2003 & \multicolumn{24}{|c|}{ } \\
\hline
\multicolumn{2}{|c|}{Master's degree} & \multicolumn{6}{|c|}{343} & \multicolumn{4}{|c|}{278} & \multicolumn{2}{|c|}{136} & \multicolumn{3}{|c|}{243} & \multicolumn{2}{|c|}{9.5} & \multicolumn{4}{|c|}{22.6} & \multicolumn{2}{|c|}{29} \\
\hline
\multicolumn{2}{|c|}{Doctoral degree} & \multicolumn{6}{|c|}{236} & \multicolumn{4}{|c|}{132} & \multicolumn{2}{|c|}{283} & \multicolumn{3}{|c|}{349} & \multicolumn{2}{|c|}{10.4} & \multicolumn{4}{|c|}{44.3} & \multicolumn{2}{|c|}{54.9} \\
\hline
\multicolumn{23}{|c|}{First-professional degree                                     20.4           7.6         33.6         38.5                  +  68,000} & \multicolumn{2}{|c|}{82} \\
\hline
Highest degree earned by 2003 & \multicolumn{24}{|c|}{ } \\
\hline
\multicolumn{3}{|c|}{Bachelor's degree} & \multicolumn{5}{|c|}{355} & \multicolumn{4}{|c|}{320} & \multicolumn{2}{|c|}{108} & \multicolumn{2}{|c|}{217} & \multicolumn{4}{|c|}{9.5} & \multicolumn{3}{|c|}{25.5} & \multicolumn{2}{|c|}{32.5} \\
\hline
\multicolumn{3}{|c|}{Master's degree} & \multicolumn{5}{|c|}{318} & \multicolumn{4}{|c|}{228} & \multicolumn{2}{|c|}{175} & \multicolumn{2}{|c|}{279} & \multicolumn{4}{|c|}{9.5} & \multicolumn{3}{|c|}{25.2} & \multicolumn{2}{|c|}{32.5} \\
\hline
\multicolumn{3}{|c|}{Doctoral degree} & \multicolumn{5}{|c|}{237} & \multicolumn{4}{|c|}{118} & \multicolumn{2}{|c|}{312} & \multicolumn{11}{|c|}{33.3                  +  46,600     52,900} \\
\hline
\multicolumn{3}{|c|}{First-professional degree} & \multicolumn{5}{|c|}{178} & \multicolumn{4}{|c|}{35} & \multicolumn{2}{|c|}{376} & \multicolumn{11}{|c|}{41.1                 +  73,900     88,900} \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|}
\hline
Program \\
\hline
Contact Center Services \\
\hline
Printed Publications Services and Citizen Outreach \\
\hline
Web Management and Content (USA.gov and GobiernoUSA.go \\
\hline
Center for Excellence in Digital Government (CEDG) \\
\hline
Information Technology Services Solutions (ITSS) \\
\hline
Total \\
\hline
Budget \\
\hline
\$8.6M \\
\hline
\$3.9M \\
\hline
\$6.1M \\
\hline
\$4.6M \\
\hline
\$10.8M \\
\hline
\$34M \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|}
\hline
Region and state & Actual 2003-04
to 2008-09 & 2008-09 to 2015-16         2015 & Projected
-16 to 2021-22 & 2008-09 to 2021-22 \\
\hline
United States & 104 & 9 & 38 & 47 \\
\hline
Northeast & 139 & -4 & 3 & -1 \\
\hline
Connecticut & 11 & 6 & -59 & -53 \\
\hline
Maine & 61 & -106 & -32 & -134 \\
\hline
Massachusetts & 119 & -34 & -16 & -50 \\
\hline
New Hampshire & 109 & -83 & -66 & -143 \\
\hline
New Jersey & 134 & -39 & -2 & -41 \\
\hline
New York & 269 & 95 & -5 & 90 \\
\hline
Pennsylvania & 58 & -70 & 65 & -9 \\
\hline
Rhode Island & 83 & -76 & -8 & -83 \\
\hline
Vermont & 15 & -164 & -58 & -212 \\
\hline
Midwest & 55 & -60 & 16 & -45 \\
\hline
Illinois & 55 & -9 & 5 & -4 \\
\hline
Indiana & 137 & 21 & 24 & 45 \\
\hline
Iowa & -12 & -37 & 27 & -11 \\
\hline
Kansas & 7 & 46 & 67 & 117 \\
\hline
Michigan & 141 & -114 & -55 & -163 \\
\hline
Minnesota & 11 & -53 & 100 & 41 \\
\hline
Missouri & 86 & -20 & 8 & -12 \\
\hline
Nebraska & -40 & 11 & 130 & 143 \\
\hline
North Dakota & -83 & -25 & 128 & 99 \\
\hline
Ohio & 27 & -170 & -14 & -182 \\
\hline
South Dakota & -98 & 2 & 88 & 91 \\
\hline
Wisconsin & 42 & -78 & 37 & -44 \\
\hline
South & 128 & 55 & 53 & 111 \\
\hline
Alabama & 154 & 45 & 15 & 61 \\
\hline
Arkansas & 32 & 33 & 35 & 69 \\
\hline
Delaware & 128 & 19 & 111 & 133 \\
\hline
District of Columbia & 160 & -207 & -97 & -283 \\
\hline
Florida & 168 & 49 & 19 & 69 \\
\hline
Georgia & 284 & 72 & 19 & 100 \\
\hline
Kentucky & 108 & -54 & 22 & -33 \\
\hline
Louisiana & -38 & -16 & 31 & 14 \\
\hline
Maryland & 103 & -32 & 66 & 31 \\
\hline
Mississippi & \multicolumn{2}{|c|}{32} & 23 & 57 \\
\hline
North Carolina & 202 & 48 & -29 & 18 \\
\hline
Oklahoma & 11 & 51 & 64 & 119 \\
\hline
South Carolina & 177 & 32 & 58 & 91 \\
\hline
Tennessee & 310 & -4 & 37 & 33 \\
\hline
Texas & 82 & 147 & 118 & 282 \\
\hline
Virginia & 106 & 14 & 62 & 77 \\
\hline
West Virginia & 20 & -38 & 13 & -25 \\
\hline
West & 93 & 19 & 63 & 84 \\
\hline
Alaska & 107 & -80 & 84 & -2 \\
\hline
Arizona & 371 & -53 & 124 & 64 \\
\hline
California & 84 & -2 & 46 & 44 \\
\hline
Colorado & 60 & 117 & 115 & 245 \\
\hline
Hawaii & 115 & -97 & 30 & -70 \\
\hline
Idaho & 81 & 17 & 43 & 61 \\
\hline
Montana & -40 & -101 & 57 & -49 \\
\hline
Nevada & 309 & 280 & 36 & 325 \\
\hline
New Mexico & 2 & 51 & 90 & 146 \\
\hline
Oregon & 66 & -5 & 11 & 6 \\
\hline
Utah & 7 & 133 & 154 & 307 \\
\hline
Washington & 24 & 65 & 51 & 120 \\
\hline
Wyoming & -58 & 32 & 108 & 143 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|}
\hline
2007                                                                                              2009 & \multicolumn{39}{|c|}{ } \\
\hline
Inadequate housing units                                                        Inadequate housing units & \multicolumn{39}{|c|}{ } \\
\hline
Total occupied ------------------------- Total occupied ----------------------- & \multicolumn{39}{|c|}{ } \\
\hline
\multicolumn{4}{|c|}{Characteristic} & \multicolumn{4}{|c|}{housing units} & \multicolumn{3}{|c|}{No.} & \multicolumn{2}{|c|}{(%)} & \multicolumn{6}{|c|}{Unadjusted OR} & \multicolumn{3}{|c|}{(95% Cl)} & \multicolumn{4}{|c|}{housing units} & \multicolumn{3}{|c|}{No.} & (%) & \multicolumn{6}{|c|}{Unadjusted OR} & \multicolumn{4}{|c|}{(95% Cl)} \\
\hline
\multicolumn{4}{|c|}{Sex} & \multicolumn{36}{|c|}{ } \\
\hline
\multicolumn{4}{|c|}{Male} & \multicolumn{4}{|c|}{61.206} & \multicolumn{3}{|c|}{2.862} & -47 & \multicolumn{6}{|c|}{Ref.} & \multicolumn{3}{|c|}{} & \multicolumn{4}{|c|}{60.721} & \multicolumn{3}{|c|}{2.962} & \multicolumn{2}{|c|}{-49} & \multicolumn{6}{|c|}{Ref.} & \multicolumn{4}{|c|}{ } \\
\hline
\multicolumn{4}{|c|}{Female} & \multicolumn{4}{|c|}{49.486} & \multicolumn{3}{|c|}{2.909} & -59 & \multicolumn{6}{|c|}{11} & \multicolumn{3}{|c|}{(1.1-1.2)} & \multicolumn{4}{|c|}{51.084} & \multicolumn{3}{|c|}{2.795} & \multicolumn{2}{|c|}{-55} & \multicolumn{6}{|c|}{11} & \multicolumn{4}{|c|}{(1.1-1.2)} \\
\hline
\multicolumn{4}{|c|}{Race/Ethnicity} & \multicolumn{36}{|c|}{ } \\
\hline

## **Más predicciones**

In [ ]:
%cd Tablas

/content/Tablas

In [ ]:
%%capture
!unzip Files_Online2PDF.zip

In [ ]:
for i in range(1,10):
  c= xlsx2latex('tabla'+str(i)+'.xlsx')    
  print('\n \n')

\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|}
\hline
\multirow{2}{*}{} & \multicolumn{3}{|c|}{THRESHOLD FOR RELEASES} \\
\cline{2-4}
 & to air ka/year & to water ka/year & to land ka/year \\
\hline
1,1,1-trichloroethane & 100 & \multicolumn{2}{|c|}{-} \\
\hline
1,1,2,2-tetrachl oroetha ne & so & \multicolumn{2}{|c|}{-} \\
\hline
1,2-dichloroethane (EDC) & 1000 & \multicolumn{2}{|c|}{10} \\
\hline
Brominated diphenylethers (PBDE) & - & \multicolumn{2}{|c|}{1} \\
\hline
Chloro-alkanes,C10-C13 & - & \multicolumn{2}{|c|}{1} \\
\hline
Dichloromethane (DCM) & 1000 & \multicolumn{2}{|c|}{10} \\
\hline
Dieldrin & \multicolumn{3}{|c|}{1} \\
\hline
Haloaenated Oraanic Compounds (AOX) & - & \multicolumn{2}{|c|}{1000} \\
\hline
Hexabromobifenyl & \multicolumn{3}{|c|}{0.1} \\
\hline
Hexachlorobenzene (HCB) & 10 & \multicolumn{2}{|c|}{1} \\
\hline
Hexachlorobuta diene (HCBD) & - & \multicolumn{2}{|c|}{1} \\
\hline
PCDD+PCFD (Dioxins+furans) (as Teq) & \multicolumn{3}{|c|}{0.0001} \\
\hline
Pentachlorobenzene & \multicolumn{3}{|c|}{1} \\
\hline
Pentachlorophenol (PCP) & 10 & \multicolumn{2}{|c|}{1} \\
\hline
Polychlorinated biphenyls (PCB) & \multicolumn{3}{|c|}{0.1} \\
\hline
Tetrachloroethylene (PER) & 2 000 & 10 & - \\
\hline
Tetrachloromethane (TCM) & 100 & 1 & - \\
\hline
Trichlorobenzenes (TCBs) (all isomers) & 10 & 1 & - \\
\hline
Trichloroethylene & 2 000 & 10 & - \\
\hline
Trichlorometha ne & 500 & 10 & - \\
\hline
Vynil chloride & 1000 & \multicolumn{2}{|c|}{10} \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|}
\cline{2-5}
 & 1994 & 1991 & 1987 & 1981 \\
\hline
Austria & 47 & \multicolumn{3}{|c|}{ } \\
\hline
Belgium/Luxembourg & 35 & 1 & \multicolumn{2}{|c|}{ } \\
\hline
Denmark & 27 & 1 & \multicolumn{2}{|c|}{ } \\
\hline
Finland & 32 & \multicolumn{3}{|c|}{ } \\
\hline
France & 200 & 66 & 16 &   \\
\hline
Germany & 149 & 73 & 10 & 2 \\
\hline
Greece & \multicolumn{4}{|c|}{ } \\
\hline
Ireland & 3 & \multicolumn{2}{|c|}{1} &   \\
\hline
Italy & 68 & 37 & 5 & 1 \\
\hline
Netherlands & 30 & 11 & 4 &   \\
\hline
Portugal & 44 & 3 & \multicolumn{2}{|c|}{ } \\
\hline
Spain & 115 & 50 & 2 &   \\
\hline
Sweden & 60 & \multicolumn{3}{|c|}{ } \\
\hline
UK & 180 & 60 & 8 & 1 \\
\hline
EU Total & 990 & \multicolumn{3}{|c|}{ } \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|}
\cline{2-3}
 & Number of participants (*) & Females
(o/o) \\
\hline
Vocational further education and training, not apprenticeship training & 79 935 & 55 \\
\hline
Vocational further education and training, apprenticeship training & 2 961 & 73 \\
\hline
Labour market training & 51 955 & 52 \\
\hline
Courses ordered by employers & 298 839 & 43 \\
\hline
Courses organised as liberal education & 1649 692 & 72 \\
\hline
Open polytechnics education & 13 560 & 66 \\
\hline
Open university education & 57 986 & 80 \\
\hline
Other education & 91 568 & 55 \\
\hline
Total & 2 246 496 & 66 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|}
\hline
Names & Own brands market share & Number of items \\
\hline
Franprix & 280 & n.a. \\
\hline
Casino & 248 & 1800 \\
\hline
Intermarche & 247 & 2500 \\
\hline
Geant & 200 & 1800 \\
\hline
Carrefour & 189 & 1642 \\
\hline
Monoprix & 187 & 1800 \\
\hline
Systeme U & 185 & 985 \\
\hline
Continent & 178 & 1440 \\
\hline
Stoc & 162 & 650 \\
\hline
Auchan & 157 & 1500 \\
\hline
Match & 154 & 1100 \\
\hline
Champion & 151 & 1240 \\
\hline
Leclerc & 148 & 500 \\
\hline
Cora & 122 & 1224 \\
\hline
Prisunic & 117 & 550 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|}
\hline
\multirow{2}{*}{} & \multicolumn{2}{|c|}{1996} & \multicolumn{2}{|c|}{1991} & erowth in share \\
\cline{2-6}
 & % of national turnover & no.of stores & % of national turnover & no.of stores & (% points) \\
\hline
Austria & 17 & 568 & 14 & 530 & 3 \\
\hline
Belgium/Luxembourg & 25 & 762 & 18 & 587 & 7 \\
\hline
Denmark & 20 & 739 & 15 & 544 & 5 \\
\hline
Finland & 12 & 820 & 10 & 760 & 2 \\
\hline
France & 7 & 1940 & 1 & 436 & 6 \\
\hline
Germany & 30 & 12130 & 24 & 8290 & 6 \\
\hline
Greece & \multicolumn{5}{|c|}{n.a.} \\
\hline
Ireland & \multicolumn{5}{|c|}{n.a.} \\
\hline
Italy & 10 & 2360 & .. & 60 & 10 \\
\hline
Netherlands & 13 & 607 & 10 & 482 & 3 \\
\hline
Portugal & 9 & 314 & 2 & 30 & 7 \\
\hline
Spain & 9 & 2315 & 5 & 1180 & 4 \\
\hline
Sweden & 11 & 305 & 6 & 166 & 5 \\
\hline
UK & 11 & 1440 & 6 & 1129 & 5 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|}
\hline
\multirow{2}{*}{Species} & \multicolumn{2}{|c|}{Wildlife Criterion (pg/L)} \\
\cline{2-3}
 & GLWQI & Mercury Study Report to Congress \\
\hline
Mink & 2880 & 1038 \\
\hline
Otter & 1930 & 764 \\
\hline
Kingfisher & 1040 & 598 \\
\hline
Osprey & Not done & 1498 \\
\hline
Eagle & 1920 & 1818 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|c|}
\hline
District Totals & FY 2007 & FY 2008 & FY 2009 & FY 2010 & FY 201 1 \\
\hline
Investigative  Matters Received by AUSAs & 426 & 365 & 285 & 402 & 387 \\
\hline
Defendants Charged & 290 & 259 & 235 & 259 & 21 5 \\
\hline
Cases Charged & 21 7 & 197 & 1 73 & 1 77 & 168 \\
\hline
Defendants
Sentenced & 287 & 242 & 223 & 207 & 208 \\
\hline
No Prison Term & 148 & 107 & 126 & 1 21 & 102 \\
\hline
1-12 Months & 52 & 48 & 35 & 38 & 27 \\
\hline
13-24 Months & 37 & 45 & 29 & 27 & 33 \\
\hline
25-36 Months & \multicolumn{2}{|c|}{20} & 6 & 10 & 17 \\
\hline
37-60 Months & 14 & 19 & 18 & 7 & 21 \\
\hline
60+ Months & 16 & 3 & 9 & 4 & 8 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|}
\hline
-                                         _ , & \multicolumn{4}{|c|}{ } \\
\hline
Country/Heading & Cohesion Fund EURbn & \multicolumn{2}{|c|}{ERDF Convergence EURbn} & Total     EURbn \\
\hline
Bulgaria & 23 & \multicolumn{2}{|c|}{32} & 55 \\
\hline
Cyprus & 21 & 0 &  & 21 \\
\hline
Czech Republic & 88 & \multicolumn{2}{|c|}{134} & 222 \\
\hline
Estonia & 11 & \multicolumn{2}{|c|}{19} & 30 \\
\hline
Hungary & 86 & \multicolumn{2}{|c|}{112} & 198 \\
\hline
Latvia & 15 & \multicolumn{2}{|c|}{24} & 39 \\
\hline
Lithuania & 23 & \multicolumn{2}{|c|}{34} & 57 \\
\hline
Malta & 28 & \multicolumn{2}{|c|}{44} & 72 \\
\hline
Poland & 22 & \multicolumn{2}{|c|}{33} & 55 \\
\hline
Romania & 65 & \multicolumn{2}{|c|}{9} & 155 \\
\hline
Slovakia & 4 & \multicolumn{2}{|c|}{6} & 10 \\
\hline
Slovenia & 14 & \multicolumn{2}{|c|}{19} & 33 \\
\hline
Technical Assistance & 14 & \multicolumn{2}{|c|}{87} & 33 \\
\hline
TOTAL & 5899 & \multicolumn{2}{|c|}{8670} & 14569 \\
\hline
\end{tabular}
\end{center}
\end{table}



\begin{table}
\begin{center}
\begin{tabular}{|c|c|c|c|c|}
\hline
\multicolumn{2}{|c|}{} & Agriculture & Industry & Services \\
\hline
\multirow{3}{*}{1991} & Men & 110 & 407 & 484 \\
\cline{2-5}
 & Women & 66 & 160 & 774 \\
\cline{2-5}
 & Total & 89 & 287 & 624 \\
\hline
\multirow{3}{*}{1996} & Men & 95 & 394 & 510 \\
\cline{2-5}
 & Women & 53 & 139 & 809 \\
\cline{2-5}
 & Total & 75 & 273 & 652 \\
\hline
\multirow{3}{*}{2001} & Men & 75 & 394 & 531 \\
\cline{2-5}
 & Women & 37 & 138 & 825 \\
\cline{2-5}
 & Total & 57 & 272 & 671 \\
\hline
2003 & Men & 67 & 381 & 552 \\
\hline
2003 & Women & 30 & 124 & 846 \\
\hline
2003 & Total & 49 & 257 & 694 \\
\hline
\end{tabular}
\end{center}
\end{table}